@import 'styles/reset.css';
@import 'styles/box-sizing.css';
@import 'styles/vars.css';

html,
body {
  color: var(--color-midnight);
  font-family: var(--font);
  height: 100%;
  background-color: var(--color-subtle);
}

/*
This ensures margins don't displace body's position by pushing against viewport
edges.
https://stackoverflow.com/questions/1762539/margin-on-child-element-moves-parent-element
*/
body { display: grid;}